.vs/
SlotMachine/bin
SlotMachine/obj
SlotMachine/SlotMachine.Common/bin
SlotMachine/SlotMachine.Common/obj
SlotMachine/SlotMachine.Models/bin
SlotMachine/SlotMachine.Models/obj
SlotMachine/SlotMachine.Services/bin
SlotMachine/SlotMachine.Services/obj
SlotMachine.Tests/bin
SlotMachine.Tests/obj