.vs/
SlotMachine/bin
SlotMachine/obj
SlotMachine.Common/bin
SlotMachine.Common/obj
SlotMachine.Models/bin
SlotMachine.Models/obj
SlotMachine.Services/bin
SlotMachine.Services/obj
SlotMachine.Tests/bin
SlotMachine.Tests/obj